<div class="container">
    <div class="heading">
        <h1>About Us</h1>
        <hr>

    </div>
    <div class="sub-container">
        <div class="photo">
            <img src="../../assets/images/assassins_creed_unity_poster-3840x2160.jpg" alt="img">
        </div>
        <div class="info">
            <h1>How to spreads ?</h1>
            <ul type="square">
                <li>
                    
                        Coronavirus disease spreads primarily through contact with an infected person when they cough or
                        sneeze.
                        It also spreads when a person touches a surface or object that has the virus on it, then touches
                        their
                        eyes, nose, or mouth.
                    
                </li>
                <li>
                    <p>
                        16 months. 300+ volunteers. 4.4 billion website visits. Numerous dashboards and projections
                        driven by
                        our data. Keeping India informed about Covid19.
                    </p>
                </li>
                <li>
                    <p>For information purposes only.</p>
                </li>
                <li>
                    <p>Consult your local medical authority for advice.</p>
                </li>
                <li>
                    <p>Source: World Health Organization</p>
                </li>
            </ul>
<div ><button class="btn">Learn more..</button></div>




        </div>
    </div>
</div>