<div class="container">
<h1>Gallary</h1>
    <div class="images">
        <img src="../../assets/images/cute_adorable_baby_santa-2560x1440.jpg" alt="" >
        <img src="../../assets/images/cute_baby_hat_cap-7680x4320.jpg" alt="" >
        <img src="../../assets/images/cute_baby_sleep-3840x2160.jpg" alt="" >
        <img src="../../assets/images/cute_baby_teddy_bear-3840x2160.jpg" alt="" >
        <img src="../../assets/images/cute_girl_ice_skates-3840x2160.jpg" alt="" >
        <img src="../../assets/images/cute_haircut_baby_girl-3840x2160.jpg" alt="" >
        <img src="../../assets/images/cute_infant-3840x2160.jpg" alt="" >
        <img src="../../assets/images/cute_newborn-3840x2160.jpg" alt="" >
        <img src="../../assets/images/cute_sleeping_newborn_baby-3840x2160.jpg" alt="" >
    
    </div>
</div>
