.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   padding: 20px;
   flex-flow: column;
   box-sizing: border-box;
   gap: 15px;
  
}
.images
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    width: 97%;
   
}
.images>img
{
width: 300px;
height: 200px;
margin: 10px;
border-radius: 10px;
}